body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.welcome-message {
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}

.friendship-form {
    width: 45%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 0;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.friendship-table {
    width: 45%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 16px;
}

input, select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #0080ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0075eb;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    vertical-align: middle;
}

th {
    background-color: #7a9a92;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

td {
    background-color: #f2f2f2;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

td button {
    padding: 8px 12px;
    background-color: #f44336;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

td button:hover {
    background-color: #e53935;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    color: #0080ff;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #0075eb;
    color: white;
}

.pagination .current-page {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #0080ff;
    color: white;
    border-radius: 5px;
}

.pagination .ellipsis {
    padding: 10px;
    color: #888;
}
